*.sqlite3
*.pyc
__pycache__


# super user:
# ado_admin
# ado_admin@noemail.com
# ado_admin_password

# stripe login
# tepec93986@acname.com
# 5SHsI50q

# stripe published key
# pk_test_51P4gGGP6AxS1ytK4fpGUUOac2OItvM9SSggCfYUa2QAvVwvC4KZkGdMxN4IuMwug5rrt7c0rWvkY6gzp6yhR9heg00flL7t5EC

# stripe secret key
# sk_test_51P4gGGP6AxS1ytK4SAFLFUTz5Huxrn0Q4gaXHz6zGqcmOntW7M8MMdqmOIknhM0c5SGP7V6b2HARnAC3Ul3vSBft00hRhn29O7